.card{
    width: 15rem;
    height: 25rem;
    margin: 10px;
    box-shadow: 5px 10px #30303038;
}

.card img{
    height: 15rem ;
}

.card h3{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkblue;
}
.tarjeta{
    width: 15rem;
    margin: auto;
}
.card p{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}
